<div class="header container lg:px-6 sm:px-4 mb-60">
    <div class="grid grid-cols-12 pt-14">
        <div class="col-span-5 pt-20">
            <h1 class="font-fontTitle text-7xl leading-[115%] text-primary font-medium mb-6">{{title_header}}</h1>
            <div class="text-[22px]">
                {{ content | widont }}
            </div>
        </div>
        <div class="col-span-4 aspect-square w-figure col-start-7">
            <img class="rounded-full aspect-square object-cover h-full relative z-[1] top-[170px]" src="{{ header_asset }}">
        </div>
    </div>
</div>
